/* #region common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #region utility */
.cnt{
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.justify-content-between{
    justify-content: space-between;
}

ul.list-unstyled{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  .h100{
    height: 100%;
  }
/* #endregion utility */

/* #region debug */
.debug #header{
    height: 80px;
    background: #ff2500;
}

.debug .cnt{
    background: #ffd200;
}

.debug .banner{
    height: 550px;
    background: #ffe600;
}

.debug section div.cnt{
    height: 800px;
    background: #00a9ff;
}
/* #endregion debug */