/* #region common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #region utility */
.cnt{
    width: 70%;
    display: flex;
    margin: 0 auto;
}

.justify-content-between{
    justify-content: space-between;
}

ul.list-unstyled{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  .h100{
    height: 100%;
  }

  .pad-10{
    padding: 10px;
  }

  .col-05{
    width: calc((100 / 12) * 5);
  }

  .col-07{
    width: calc((100 / 12) * 7);
  }

  .flex-cnt{
    display: flex;
  }

  .row{
    display: flex;
    align-items: center;
    width: 100%;
  }
/* #endregion utility */

/* #region debug */
.debug #header{
    height: 80px;
    background: #3161E0;
    border: 1px solid black;
}

.debug .cnt{
    background: #6D82F6;
    border: 1px solid black;
}

.debug .banner{
    height: 550px;
    background: #ffe600;
    border: 1px solid black;
}

.debug section div.cnt{
    height: 800px;
    background: #00a9ff;
    border: 1px solid black;
}

.debug .banner-bottom{
    height: 1400px;
    background: #00a9ff;
    border: 1px solid black;
}

.debug [class^="col"]{
    height: 720px;
    background: #036597;
    border: 1px solid black;
}
/* #endregion debug */

/* #region header */
.menu>li{
    padding: 10px;
}

.banner {
    background-image: url('');
}
/* #endregion header */

/* #region main */

/* #endregion main */

/* #region footer */

/* #endregion footer */